body{
background-color: #222222;
margin: 0px;

}
.social{
  margin-top: 20px;
}
.navbar{
  position: fixed;
  width: 170px;
  text-align: center;

}
.navbar .name{
  background-color: black;
  margin: 0px;

}
.name a{
  text-decoration: none;
  position: relative;
  bottom: 15px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  letter-spacing: -3.5px;
  font-size: 40px;
}
.name h2{
  color: #a5a5a5;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  bottom: 20px;
}
.name .t{
  position: relative;
  top: 15px;
  width: 50px;
  margin-top: 20px;

}
.name{
  width: 170px;
  display:inline-block;
}
.navigation ul {
  margin: 0px;
  padding:0px;
  width: 170px;
  font-family: 'Merriweather', serif;
  background-color: #1d1d1d;
}
.navigation li{
  border-bottom: 1px solid #373331;
}
.navigation li a {
  display: block;
  color: #909096;
  padding: 20px 16px;
  text-decoration: none;
}
.navigation li:last-child {
  border-bottom: none;
}
.navigation li a:hover {
  color: #08fdd8;
}
.fab{
  color:#909096;
  margin: 3px;
}
.fab:hover {
  color: #08fdd8;
}
.intro{
  display: inline-block;
  margin-left: 170px;
  padding: 40px 70px;
}
p{
  color: #515152;
  font-family: 'Zeyada', cursive;
  font-size: 30px;
  margin: 0px;

}
.intro .p1{
  line-height: 0.25;
  margin-bottom: 30px;
}
.intro h1{
  padding-left: 60px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bolder;
  font-size: 110px;
  line-height: 1;
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
}
.intro h2{
  padding-left: 60px;
  font-family: 'Merriweather', serif;
  color: #909096;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0px;
  font-weight: lighter;
}
h1 span{
  color: #515152;
  font-family: 'Zeyada', cursive;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 0px;
  line-height: 0.25;

}
.intro .t{
  width: 90px;
  position: relative;
  top: 10px;
  right: 5px;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Merriweather', serif;
  color: #08fdd8;
  font-size: 18px;
  padding: 14px 55px;
  border: solid #08fdd8 1px;
  text-decoration: none;
  background-color: #222222;
  letter-spacing: 2.5px;
  margin-left: 60px;
  transition: background-color 2s;
}
.btn:hover {
  color: #222222;
  background: #08fdd8;
  background-image: -webkit-linear-gradient(top, #08fdd8, #08fdd8);
  background-image: -moz-linear-gradient(top, #08fdd8, #08fdd8);
  background-image: -ms-linear-gradient(top, #08fdd8, #08fdd8);
  background-image: -o-linear-gradient(top, #08fdd8, #08fdd8);
  background-image: linear-gradient(to bottom, #08fdd8, #08fdd8);
  text-decoration: none;
}
.about{
  display: inline-block;
  margin-left: 170px;
  padding: 40px 70px;
}
h1{
  margin: 0px;
  color: #08fdd8;
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
}
.me{
  font-family: 'Open Sans', sans-serif;
  margin:auto 60px;
  color: white;
  width: 50%;
  font-size: 24px;
  line-height: 1.7;
  font-weight: lighter;
  letter-spacing: -1.5px;
}
span a{
  text-decoration: none;
  color: #08fdd8;
  transition: color 0.3s;

}
span a:hover{
  color: #1EAE98;
}
.photo{
  border-radius: 50%;
  position: absolute;
  right: 150px;
  top: 1020px;

}
.skills{
  display: inline-block;
  margin-left: 170px;
  padding: 40px 70px;
}
.sks{
  position: absolute;
  right: 200px;
  top: 1800px;
  font-family: 'Fira Mono', monospace;
  color: #707070;
  font-size: 15px;
}
h3{
  line-height: 2;
  letter-spacing: 3px;
}
.fa-star{
  color:rgb(255, 34, 83);
  transition: color 0.5s;
}
.fa-star:hover{
  color: #08fdd8;
}
.map {
  position: absolute;
  right: 200px;
  top: 2600px;
  height: 450px;
  width: 600;
}
.contact{
  display: inline-block;
  margin-left: 170px;
  padding: 40px 70px;
}
.box{
  background-color: #373331;
  border: 0px;
  height: 50px;
  margin: 0px auto -70px 60px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
}
#fname{
  position: relative;
  width: 250px;
}
#femail{
  position: relative;
  width: 250px;
  left: 260px;
  bottom: 59px;
}
#fsubject{
  position: relative;
  width: 510px;
  bottom: 60px;
}
#fmessage{
  position: relative;
  width: 510px;
  bottom: 60px;
  height: 100px;
}
.mg{
  position: relative;
  left: 240px;
}
.soc{
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  letter-spacing: 30px;
}
.foot{
  letter-spacing: 5px;
  font-weight: bolder;
}
.fa-bars{
  visibility: hidden;
}

@media (max-width: 1024px) {
  .name{
    visibility: hidden;}
  .navigation ul {
    visibility: hidden;
  }
  .social p{
    visibility: hidden;
  }
  .intro{
    margin-left: 0px;
  }
  p{
    font-size: 30px;
  }
  .intro h1{
    padding-left: 40px;
    font-size: 100px;
  }
  .intro .t{
    width: 80px;
    }
  h1 span{
      font-size: 30px;
    }
  .intro h2{
        padding-left: 40px;
        letter-spacing: 3px;
        font-size: 25px;
      }
  .btn {
   font-size: 20px;
   padding: 10px 65px;
   margin-left: 50px;
      }
  .about{
      margin-left: 0px;

  }
  .contact{
      margin-left: 0px;
  }
  .skills{
    margin-left: 0px;
  }
  h1{
    font-size: 70px;
    width: 50%;
  }
  .me{
    margin:auto 30px;
    width: 80%;
    font-size: 25px;
  }
  .photo{
    position: absolute;
    width: 190px;
    right: 50px;
    top: 820px;



  }
  .skills .me{
    width: 50%;
  }
  .sks{
    right: 90px;
    top: 1600px;
    font-size: 20px;
  }
  /* .map {
    visibility: hidden;
  } */
  .box{
    height: 30px;
    margin: 0px auto -70px 30px;
  }
  #fname{
    position: relative;
    width: 150px;
    /* bottom: 10px; */
  }
  #femail{
    width: 150px;
    left: 170px;
    bottom: 50px;
  }
  #fsubject{
    position: relative;
    width: 320px;
    bottom: 60px;
  }
  #fmessage{
    position: relative;
    width: 320px;
    bottom: 70px;
    height: 100px;
  }
  .mg{
    left: 98px;
  }
}
